<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/39a98844-1547-4d66-a10b-34f9b797029f/resourceGroups/Sandeep_RG/providers/Microsoft.Web/sites/sandeep-webapp</ResourceId>
    <ResourceGroup>Sandeep_RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sandeep-webapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sandeep-webapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sandeep-webapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sandeep-webapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AdventureWorksDWConnectionString1" Order="1" Enabled="False">
          <Destination Path="Data Source=sandeep-ff-surf;Initial Catalog=AdventureWorksDW;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sandeep-ff-surf;Initial Catalog=AdventureWorksDW;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AdventureWorksDWConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sandeep-ff-surf;Initial Catalog=AdventureWorksDW;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AdventureWorksDWConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=sandeepsql.database.windows.net;Initial Catalog=AdventureWorksDW;Persist Security Info=True;User ID=sandeepadmin;Password=Sandy4523!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sandeep-ff-surf;Initial Catalog=AdventureWorksDW;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AdventureWorksDWConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sandeep-ff-surf;Initial Catalog=AdventureWorksDW;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AdventureWorksDWConnectionString1-Web.config Connection String">
      <ParameterValue>Data Source=sandeep-ff-surf;Initial Catalog=AdventureWorksDW;Integrated Security=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AdventureWorksDWConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sandeepsql.database.windows.net;Initial Catalog=AdventureWorksDW;Persist Security Info=True;User ID=sandeepadmin;Password=Sandy4523!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>